#for mac users
*.DS_Store

#for vim users
*.swp

#ignore binaries
src/bin/*
src/obj/*.o
src/test/rbt/*.out

#ignore test files
src/test/test.c
src/test/tables/*.txt
src/test/log/*.txt
labasdvs/Debug/*
*.txt

#ignore vs2017 files
labasdvs/.vs/labasdvs/v15/
labasdvs/labasdvs.vcxproj.user
labasdvs/*.out
